*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 2em;
}

span#alt-bird-name{
    font-size: 0.7em;
    font-style: italic;
}

body{
    margin: 0.7em !important;
    background-color: #1c1c1c;
    color: #ffffff;
}

a{
    color: lightsalmon;
}

img#bird-img{
    width: 300px;
}

div#footer{
    border-top: 1px solid #ffffff;
    margin-top: 3em;
    font-size: 0.7em;
}