extends layout.pug

block content
  h1= title
  p Hello.
  p I'm a computer science student from Germany.
  p
    | Check out my Rust linear programming library with a very original and not the slightest bit plagiarized interface (
    a(href="https://github.com/jonathansc/linprog") GitHub link
    | ).